.navmenu {
	border: 1px solid #999999;
	top: 1em;
	font-family: sans-serif;
	font-size: small;
	text-align: center;
	position: fixed;
	left: 5px;
	width: 9em;
}

.commenu {
	top: 15em;
	font-family: sans-serif;
	font-size: small;
	text-align: center;
	position: fixed;
	left: 5px;
	width: 8em;
}

.newsdate {
	position: relative;
	font-style: oblique;
}

.newstype {
	position: relative;
	font-size: xx-small;
}

.newscontent {
	left: 15px;
	position: relative;
}

.menuheader {
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
	background-color: gray;
	color: white;
	line-height: 20px;
	letter-spacing: 1px;
}

.menuitem {
	left: 3px;
	position: relative;
}

.body {
	font-family: sans-serif;
	font-size: small;
	position: relative;
	width: 85%;
	height: auto;
	right: 1em;
	left: 10em;
	line-height: 140%;
}

.license {
	font-size: xx-small;
}

.lastchanged {
	font-size: xx-small;
	width: 50%;
	font-style: oblique;
}

.footer {
	position: relative;
	width: 100%;
	height: 3em;
	top: 3em;
}

.linkhead {
	font-family: sans-serif;
	color: #FFFFFF;
	background-color: #000000;
	background-position: center center;
	font-weight: bold;
}

a:link {
	color: #003366;
	text-decoration: underline;
}

a:visited {
	color: red;
	text-decoration: underline;
}

a:hover {
	color: #888;
}

.bib2xhtml li {
	padding: 5px;
	list-style-type: decimal;
}

.sw li {
	margin-top: 10px;
	list-style-type: square;
}

h1,h2,h3,h4,h5 {
	font-family: verdana;
}
