.menu
{
	border: 1px solid #999999;
	top: 1em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: small;
	text-align:center;
	position: fixed;
	left: 5px;
	width: 8em;
}

.newsdate 
{
    position:relative;
    font-style: oblique;
}

.newstype 
{
    position:relative;
    font-size: xx-small;
}

.newscontent
{
    left: 15px;
    position: relative;
}

.menuheader
{	
	font-weight: bold;
	text-align: center;
	text-transform: capitalize;
	background-color: gray;
	color: white;
	line-height: 20px;
	letter-spacing: 1px;
}

.menuitem
{
	left: 3px;
	position: relative;
}

.body
{
	font-family: Helvetica, Arial, sans-serif;
	font-size: small;
	position: relative;
	width: 85%;
	top: 1em;
	height: auto;
	right: 1em;
	left: 10em;
}

.license 
{
	font-size: xx-small;
}

.lastchanged 
{
	font-size: xx-small;
	width: 50%;
	font-style: oblique;
}

.footer 
{
	position: relative;
	width: 100%;
    height: 50px;
	top: 3em;
}

.linkhead {
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	background-color: #000000;
	background-position: center center;
	font-weight: bold;
}

a:link {color: #036; text-decoration: underline; }
a:visited {color: #012; text-decoration: underline; }
a:hover {color: #888; }

