*~
.jekyll-cache
vendor
_bibliography
target*
runner/*
*.classpath
*.DS_Store
*.project
*.settings
plug-ins/git/test/
maven.jks
*.externalToolBuilders
/.idea/
.metadata
*.*~
*.externalToolBuilders
.idea/
*.iml
*.ipr
*.iws
*.db
_site/
public_html
courses/ml4se
courses/bigdata
courses/algo-ds
courses/minor-project
courses/softanalytics
Gemfile.lock
.bundle
