---
layout: default
---
<h3>{{ page.entry.title }}</h3>

{% if page.entry.author %}

<p>
by {{ page.entry.author }}
</p>
{% endif %}

{% if page.entry.editor %}
<p>
edited by {{ page.entry.editor }}
</p>
{% endif %}

{% if page.entry.url %}
<p>
You can get it from <a href="{{ page.entry.url }}">here</a>.

{% if page.entry.doi %}
You can view the publisher's page <a href="http://dx.doi.org/{{ page.entry.doi }}">here</a>.
{% endif %}

</p>
{% endif %}

{% if page.entry.abstract %}
<h4>Abstact</h4>

<p>
{{ page.entry.abstract }}
</p>
{% endif %}

<h4>Bibtex record</h4>
<pre>
{{ page.entry.bibtex }}
</pre>
{% if page.entry.slideshareembed %}
<h4>Presentation</h4>


<iframe src="http://www.slideshare.net/slideshow/embed_code/{{page.entry.slideshareembed}}?rel=0" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0;margin-bottom:5px" allowfullscreen webkitallowfullscreen mozallowfullscreen> </iframe> 

{% endif %}

<!--
    <script type="text/javascript" src="/javascript/pdf.js"></script>
    <script type="text/javascript">
    'use strict';
    PDFJS.getPdf('/pubs/master.pdf', function getPdfHelloWorld(data) {
  //
  // Instantiate PDFDoc with PDF data
  //
  var pdf = new PDFJS.PDFDoc(data);
  var page = pdf.getPage(2);
  var scale = 0.3;

  //
  // Prepare canvas using PDF page dimensions
  //
  var canvas = document.getElementById('the-canvas');
  var context = canvas.getContext('2d');
  canvas.height = page.height * scale;
  canvas.width = page.width * scale;

  //
  // Render PDF page into canvas context
  //
  page.startRendering(context);
});
  </script>

  <canvas id="the-canvas" style="border:1px solid black;"/>
-->
