<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  {% if page.description %}
  <meta name="description" content="{{ page.description }}"> {% endif %}

  <meta name="author" content="{{ site.author.name }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">

  <link rel="stylesheet" href="/css/academicons.min.css" />

  <link href="/css/syntax.css" rel="stylesheet" />
  <link href="/css/style.css?body=1" rel="stylesheet" type="text/css" media="all">
</head>

<body>
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Georgios Gousios</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/about.html">About</a></li>
          <li><a href="/research.html">Research</a></li>
          <li><a href="/publications.html">Publications</a></li>
          <li><a href="/teaching.html">Teaching</a></li>
          <li><a href="/talks.html">Talks</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container">

    <div class="content">
      {{ content }}
    </div>

    <footer>
      <p>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
        &copy; {{ site.author.name }} 2002 &mdash; 2018. Except where otherwise
        noted, all original material on this page created by Georgios Gousios is
        licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
      </p>
    </footer>

  </div>
  <!-- /container -->
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-2510585-3']);
    _gaq.push(['_setDomainName', 'gousios.gr']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.type =
        'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</body>

</html>
