---
layout: default
---

<div class="row">
  <div class="col-md-2">
    <a href="img/moi_full.jpg">
      <img alt="Picture of Georgios Gousios" width="150" src="img/moi.jpg"/></a>
    <b>Contact me</b><br>

    <a href="http://twitter.com/gousiosg"><i class="fab fa-twitter"></i></a>
    <a href="http://www.facebook.com/gousiosg"><i class="fab fa-facebook-square"></i></a>
    <a href="http://www.linkedin.com/in/georgiosgousios"><i class="fab fa-linkedin-in"></i></a>

    <br/>
    <a href='http://scholar.google.gr/citations?user=-NI5S50AAAAJ'><i class="ai ai-google-scholar linkicon"></i></a>
    <a href='http://orcid.org/0000-0002-8495-7939'><i class="ai ai-orcid"></i></a>

    <br/>
    <a href="https://github.com/gousiosg"><i class="fab fa-github"></i></a>
    <a href="https://bitbucket.com/gousiosg"><i class="fab fa-bitbucket"></i></i></a>
    <a href="https://www.openhub.net/accounts/gousiosg"><i class="fas fa-code"></i></a>

    <br>
    <br>

    <address>
     <strong>Georgios Gousios</strong><br>
     <abbr title="Address"><i class="fas fa-map-marker-alt"></i></abbr>
      TU Delft EWI / ST<br>
      Building 28 <br>
      Room W4.560 <br>
      van Mourik Broekmanweg 6<br>
      2628 XE, Delft<br>
      the Netherlands <br>
      <br>
    <abbr title="Phone"><i class="fas fa-phone"></i></abbr>
    +31 (0) 15 278 5546 <br>
    <abbr title="Email"><i class="far fa-envelope"></i></abbr> g.gousios@tudelft.nl
    </address>
  </div>
  <div class="col-md-10">
    {{ content }}
  </div>
</div>
