---
layout: default
---

<div class="row">
  <div class="col-md-2">
    <a href="img/moi_full.jpg">
      <img alt="Headshot of Georgios Gousios" width="150" src="img/moi.jpg"/></a>
    <br>
    <b>Contact me</b><br>

    <a href="https://www.linkedin.com/in/gousiosg/"><i class="fab fa-linkedin-in"></i></a>
    <a href="https://github.com/gousiosg"><i class="fab fa-github"></i></a>
    <a href='http://scholar.google.gr/citations?user=-NI5S50AAAAJ'><i class="ai ai-google-scholar linkicon"></i></a>
    <a href='http://orcid.org/0000-0002-8495-7939'><i class="ai ai-orcid"></i></a>
    <br/>

    <br>
    <address>
     <strong>Georgios Gousios</strong><br>
     <abbr title="Address"><i class="fas fa-map-marker-alt"></i></abbr>
      Endor Labs, 444 High Street, Palo Alto, CA 94301<br>
      <br>

    <abbr title="Email"><i class="far fa-envelope"></i></abbr> gousiosg@endor.ai
    </address>
  </div>
  <div class="col-md-10">
    {{ content }}
  </div>
</div>
