---
layout: default
---

<div class="row">
  <div class="col-md-2">
    <a href="img/moi_full.jpg">
      <img alt="Picture of Georgios Gousios" width="150" src="img/moi.jpg"/></a>
    <b>Contact me</b><br>

    <a href="http://twitter.com/gousiosg"><i class="fa fa-twitter linkicon" aria-hidden="true"></i></a>
    <a href="http://www.facebook.com/gousiosg"><i class="fa fa-facebook linkicon" aria-hidden="true"></i></a>
    <a href="http://www.linkedin.com/in/georgiosgousios"><i class="fa fa-linkedin linkicon" aria-hidden="true"></i></a>
    <a href='atom.xml'><i class="fa fa-rss linkicon" aria-hidden="true"></i></a>

    <br/>
    <a href='http://scholar.google.gr/citations?hl=el&amp;user=-NI5S50AAAAJ&amp;oi=sra'><i class="ai ai-google-scholar linkicon"></i></a>
    <a href='http://orcid.org/0000-0002-8495-7939'><i class="ai ai-orcid"></i></a>

    <br/>
    <a href="https://github.com/gousiosg"><i class="fa fa-github linkicon" aria-hidden="true"></i></a>
    <a href="https://bitbucket.com/gousiosg"><i class="fa fa-bitbucket linkicon" aria-hidden="true"></i></a>
    <a href="https://www.openhub.net/accounts/gousiosg"><i class="fa fa-code linkicon" aria-hidden="true"></i></a>

    <br>
    <br>

    <address>
     <strong>Georgios Gousios</strong><br>
     <abbr title="Address"><i class="fa fa-map-marker" aria-hidden="true"></i></abbr>
      TU Delft EWI / ST<br>
      Building 36 <br>
      Room 08.050 <br>
      Mekelweg 4 <br>
      2628 CD, Delft<br>
      the Netherlands <br>
      <br>
    <abbr title="Phone"><i class="fa fa-phone" aria-hidden="true"></i></abbr> +31 (0) 15 278 9504 <br>
    <abbr title="Email"><i class="fa fa-envelope"></i></abbr> g.gousios @ tudelft.nl
    </address>
  </div>
  <div class="col-md-10">
    {{ content }}
  </div>
</div>
